@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/* CANVAS */

#playground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}

/* MAIN CONTENT */

#content {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: #000000dd;
  border-radius: 10px;
  box-shadow: 0 0 20px #747474;
  z-index: 100;
}

/* HEADER */

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #aa0000;
  cursor: pointer;
}

#made-by {
  width: 100px;
}

/* KEY INDICATORS */

#keys-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 6px;
}

.keys-box {
  width: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #747474;
  box-shadow: 0 0 10px #bb0000;
  cursor: pointer;
}

.key-header {
  padding-bottom: 10px;
}

/* DRUMS IMAGE */

#drums-container {
  padding: 20px;
}

#drums {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

/* RESET INSTRUCTIONS */

#reset-instructions {
  font-size: 12px;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {
  h1 {
    font-size: 40px;
  }

  #made-by {
    width: 150px;
  }

  #reset-instructions {
    font-size: 16px;
  }

  #keys-container {
    font-size: 10px;
  }

  .keys-box {
    width: 50px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }

  #made-by {
    width: 200px;
  }

  #keys-container {
    font-size: 12px;
  }

  .keys-box {
    width: 60px;
  }
}
