* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  color: #ffffff;
}

#playground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -100;
}

#content {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: #000000dd;
  border-radius: 10px;
  z-index: 100;
  text-transform: uppercase;
}

h1 {
  padding: 10px 0;
}

#keys-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys-box {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#drums-container {
  margin: 20px;
  padding: 20px;
}

img {
  width: 400px;
}
